<footer>
    <div>
      Ακολουθήστε μας <a href="https://www.facebook.com/ergoxeiras" target="_blank"><i class="fab fa-facebook-square fa-1x"></i></a>
    </div>
    <!--<div id="footer-logo">
      <a href="index.html">ErgoXeiras</a>
    </div>-->
    <!-- <address>
      Made by Christos Goulas &#9400; All rights reserved <a href="mailto:christosglx@hotmail.com">christosglx@hotmail.com</a>
    </address> -->
</footer>