<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="../../css/admin-style.css">
</head>

<body>
    <%- include("../includes/navigation.ejs") %> 

    <h1>Καλως ηρθατε στην σελιδα διαχειρησης</h1>
    <hr>
    <div id="main-container">
        <div class="container">
            <p>Για την δημιουργία νέου χρήστη ακολουθήστε τον παρακάτω σύνδεσμο</p>
            <a href="/admin/create-user">Δημιουργια χρηστη</a>
        </div>
    
        <div class="container">
            <p>Για την διαχείρηση των έργων σας ακολουθήστε τον παρακάτω σύνδεσμο</p>
            <a href="/admin/add-project">Διαχειρηση εργων</a>
        </div>
    </div>

</body>