h1 {
    text-align: center;
    padding: 2.5%;
    font-size: 1.5rem;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#container form {
    max-width: 800px;
    max-height: 400px;
    margin: 0 auto;
}

#container button {
    width: 100%;
    margin-top: 1.2rem;
}

#container p {
    margin: 1.2rem auto 0 auto;
}